---
http_interactions:
- request:
    method: get
    uri: https://api.servicefusion.com/v1/customers?expand=contacts%2Clocations%2Ccontacts.phones%2Ccontacts.emails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer JRifMYMZEtjqSU6K2JXzVtGtNzIj3qC0
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '0'
      x-pagination-total-count:
      - '247'
      x-pagination-page-count:
      - '25'
      x-pagination-current-page:
      - '1'
      x-pagination-per-page:
      - '10'
    body:
      encoding: UTF-8
      string: '{"items":[{"id":731219,"customer_name":"ABC Corporation","fully_qualified_name":"ABC
        Corporation","account_number":"40004","account_balance":8038.8,"private_notes":null,"public_notes":null,"payment_terms":"DUR","discount":0,"discount_type":null,"credit_rating":null,"labor_charge_type":"flat","labor_charge_default_rate":0,"qbo_sync_token":null,"qbo_currency":"USD","qbo_id":19,"qbd_id":"80000005-1567185645","created_at":"2015-10-21T20:58:14+00:00","updated_at":"2019-09-03T09:28:25+00:00","last_serviced_date":"2017-10-18","is_bill_for_drive_time":false,"is_vip":false,"is_taxable":true,"parent_customer":null,"referral_source":null,"agent":null,"assigned_contract":null,"payment_type":null,"tax_item_name":"TX
        State Sales Tax","industry":null,"contacts":[{"prefix":null,"fname":"Sam","lname":"Smith","suffix":null,"contact_type":null,"job_title":null,"department":null,"dob":null,"anniversary":null,"created_at":null,"updated_at":"2019-09-03T09:28:25+00:00","is_primary":true,"phones":[{"phone":"555-555-1234","ext":null,"type":"Mobile","created_at":"2019-09-03T09:28:25+00:00","updated_at":"2019-09-03T09:28:25+00:00","is_mobile":true}],"emails":[{"email":"samsmith1@servicefusion.com","class":"Personal","types_accepted":null,"created_at":null,"updated_at":"2019-09-03T09:28:25+00:00"}]}],"locations":[{"street_1":"112233
        Main Ave","street_2":"Ste. 111","city":"Dallas","state_prov":"TX","postal_code":"75201","country":null,"nickname":null,"gate_instructions":null,"latitude":0,"longitude":0,"location_type":null,"created_at":null,"updated_at":null,"is_primary":true,"is_gated":false,"is_bill_to":true,"customer_contact":"Sam
        Smith"}]},{"id":731220,"customer_name":"Anthony Martin","fully_qualified_name":"Anthony
        Martin","account_number":"40000","account_balance":0,"private_notes":null,"public_notes":null,"payment_terms":null,"discount":0,"discount_type":null,"credit_rating":null,"labor_charge_type":"flat","labor_charge_default_rate":0,"qbo_sync_token":null,"qbo_currency":"USD","qbo_id":null,"qbd_id":"800000EA-1702626876","created_at":"2015-10-21T20:58:15+00:00","updated_at":"2015-10-21T20:58:15+0[...]
